ase
scipy
scikit-image
toolz
edt
numba
jupyter
matplotlib
xlrd
pandas
torch
python-dotenv
click
black #linting
isort #lining
flake8 #liniting
numpy==1.26.4
openpyxl
openai
gradio
pytest
uvicorn
fastapi
SQLAlchemy